apiVersion: v1
kind: Namespace
metadata:
  name: clusterbulb-monitor
---
# service-account.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: clusterbulb-monitor-sa
  namespace: clusterbulb-monitor
---
# cluster-role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: clusterbulb-monitor-clusterrole
rules:
# The empty string "" refers to the core (legacy) API group, which includes built-in resources like pods, services, configmaps, nodes, etc.
# The "apps" API group includes resources like deployments, statefulsets, daemonsets, etc.
- apiGroups: [""]
  resources:
    - nodes/status
    - pods/status
    - events
  verbs:
    - get
    - list
    - watch
---
# cluster-role-binding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: clusterbulb-monitor-clusterrolebinding
subjects:
- kind: ServiceAccount
  name: clusterbulb-monitor-sa
  namespace: clusterbulb-monitor # Must match the ServiceAccount namespace
roleRef:
  kind: ClusterRole
  name: clusterbulb-monitor-clusterrole
  apiGroup: rbac.authorization.k8s.io
---
# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: clusterbulb
  namespace: clusterbulb-monitor
  labels:
    app: clusterbulb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clusterbulb
  template:
    metadata:
      labels:
        app: clusterbulb
    spec:
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
        runAsGroup: 1000
      containers:
        - name: clusterbulb
          image: ghcr.io/clustershed/go-clusterbulb:v0.0.3
          env:
          - name: HA_TOKEN
            valueFrom:
              secretKeyRef:
                name: clusterbulb-secrets
                key: ha-token
          - name: HA_URL
            value: "http://192.168.42.201:8123"  # adjust to your HA URL
          - name: HA_LIGHT_ENTITY_ID
            value: "light.cync_full_color_a19_5"  # adjust to your light entity
          - name: HA_LIGHT_BRIGHTNESS
            value: "2"
          - name: GH_OWNER
            value: "clustershed"
          - name: GH_REPO
            value: "myrmidon-k3s"
          - name: GH_TOKEN
            valueFrom:
              secretKeyRef:
                name: clusterbulb-secrets
                key: gh-token
          - name: GH_PR_CHECK_INTERVAL
            value: "300"
          resources:
            requests:
              cpu: "27.5m"
              memory: "12Mi"
            limits:
              cpu: "35m"
              memory: "16Mi"
          securityContext:
            allowPrivilegeEscalation: false
